# Cơ sở dữ liệu gói cài đặt (Dependencies)
node_modules/
.pnp
.pnp.js

# Thư mục chứa file sau khi Build dự án (Production)
dist/
dist-ssr/
build/

# Các file log ghi chú lỗi của hệ thống
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Các file chứa biến môi trường nhạy cảm (Environment variables)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Các thư mục bộ nhớ đệm (Cache)
.vite/
.eslintcache
.stylelintcache

# Rác hệ điều hành sinh ra (OS/IDE specific files)
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Cấu hình riêng của trình soạn thảo code (Editors/IDEs)
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?